/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.form-goes-here {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
	border-radius: 5px;

	.search-form {
		margin-top: 1rem;
		display: flex;
		justify-content: space-around;
		align-items: baseline;
		.search-form-field {
			width: 80%;
		}
	}

	.filter-heading {
		text-align: center;
		font-size: 2rem;
	}

	.svg-button {
		max-height: 0.8rem;
		filter: invert(99%) sepia(92%) saturate(4%) hue-rotate(252deg)
			brightness(106%) contrast(100%);
	}

	.legend-with-button {
		display: flex;
		flex: auto;
		gap: 0.5rem;
	}

	.controls-fieldset {
		.individual-control-checkboxes {
			columns: 2;
		}
		.components-checkbox-control__label {
			font-size: 1.3rem;
		}
	}

	.num-players-fieldset {
		.players-checkbox-div {
			columns: 2;
			margin-left: 1.5rem;
		}
	}

	.flex-wrapper {
		display: flex;
		flex: auto;
		.filter-settings {
			columns: 2;
			margin-left: 1rem;
		}
	}

	.screen-orientation div {
		margin-top: -0.5rem;
		margin-bottom: 0px;
	}

	.buttons-select {
		margin-top: 0.5rem;
		margin-bottom: 0px;
	}

	.category-fieldset {
		columns: 3;
	}
}

.div-filter-submit-button {
	float: right;
	margin: 1rem;
}

.gamelist-table {
	text-align: center;

	.list-row {
		.gl-trash,
		.gl-year {
			vertical-align: top;
		}
		.list-trash-btn {
			filter: invert(99%) sepia(92%) saturate(4%) hue-rotate(252deg)
				brightness(106%) contrast(100%);
		}
		.gl-title a {
			color: #fff;
		}
	}
}

.category-fieldset-collapsed {
	padding-bottom: 0;
}

body > div.components-modal__screen-overlay > div {
	top: 50%;
	left: 50%;
	padding: 2rem;
	transform: translate(-50%, -50%);
	z-index: 100;
	max-width: 80vw;
	@media only screen and (min-width: 1080px) {
		max-width: 900px;
	}
	max-height: 90%;
	margin-top: 1rem;
	background-color: #21759b;
	color: #fff;
	padding: 2rem;
	border: 2px solid #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	overflow: hidden;

	.components-modal__content {
		margin-top: 0px;
	}
	.components-modal__header {
		position: relative;
		display: block;
		height: auto;
		overflow: hidden;
		text-align: center;
		button {
			position: absolute;
			top: 5px;
			filter: invert(99%) sepia(92%) saturate(4%) hue-rotate(252deg)
				brightness(106%) contrast(100%);
		}
		.components-modal__header-heading-container {
			justify-content: center;
		}
		h1 {
			margin-top: 0.5rem;
			font-size: 3rem;
		}
		img {
			max-width: 600px;
		}
	}
	.game-title-div {
		display: flex;
		justify-content: center;
		align-items: baseline;
		.game-card-action {
			margin-left: 1rem;
			.game-card-trash,
			.game-card-add {
				height: 1.4rem;
				filter: invert(99%) sepia(92%) saturate(4%) hue-rotate(252deg)
					brightness(106%) contrast(100%);
			}
		}
		.game-title {
			text-align: center;
			margin-top: 0.4rem;
			overflow: hidden;
		}
	}

	.game-card-flex-container {
		display: flex;
		flex: auto;
		justify-content: space-between;
		vertical-align: baseline;
		.game-card-screenshot {
			max-width: 400px;
			max-height: 300px;
			overflow: hidden;
			margin-right: 2rem;
			border-radius: 10px;
		}
	}
	.game-card-description-text {
		max-height: 50%;
	}
}

.search-results-list {
	h2 {
		text-align: center;
		font-size: 2.5rem;
	}
	.search-results-list-table-row {
		.search-results-title a {
			color: white;
		}
		.search-results-action {
			text-align: center;
			filter: invert(99%) sepia(92%) saturate(4%) hue-rotate(252deg)
				brightness(106%) contrast(100%);
		}
		.search-results-parent {
			text-align: center;
		}
		.search-results-rom {
			text-align: center;
		}
	}
}
