/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.form-goes-here {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
	border-radius: 5px;
}

.svg-button {
	max-height: 0.8rem;
	filter: invert(99%) sepia(92%) saturate(4%) hue-rotate(252deg)
		brightness(106%) contrast(100%);
}

.legend-with-button {
	display: flex;
	flex: auto;
	gap: 0.5rem;
}

.controls-fieldset {
	.individual-control-checkboxes {
		columns: 2;
	}
	.components-checkbox-control__label {
		font-size: 1.3rem;
	}
}

.num-players-fieldset {
	.players-checkbox-div {
		columns: 2;
		margin-left: 1.5rem;
	}
}

.flex-wrapper {
	display: flex;
	flex: auto;
	.filter-settings {
		columns: 2;
		margin-left: 1rem;
	}
}

.screen-orientation div {
	margin-top: -0.5rem;
	margin-bottom: 0px;
}

.buttons-select {
	margin-top: 0.5rem;
	margin-bottom: 0px;
}

.category-fieldset {
	columns: 3;
}

.gamelist-table {
	text-align: center;

	.list-row {
		.gl-trash,
		.gl-year {
			vertical-align: top;
		}
		.list-trash-btn {
			filter: invert(99%) sepia(92%) saturate(4%) hue-rotate(252deg)
				brightness(106%) contrast(100%);
		}
	}
}

.category-fieldset-collapsed {
	padding-bottom: 0;
}
