/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.form-goes-here {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.controls-fieldset {
	.individual-control-checkboxes {
		columns: 2;
	}
	.components-checkbox-control__label {
		font-size:1.3em;
	}
}

.num-players-fieldset {
	.players-checkbox-div {
		columns: 2;
	}
}

.other-options-fieldset {
	columns: 3;
}